@import "tailwindcss";

@import "theme.css";

@layer base {
    * {
        border-color: hsl(var(--border));
    }
    body {
        background-color: hsl(var(--background));
        color: hsl(var(--foreground));
    }
}

@layer base {
    * {
        border-color: hsl(var(--border));
    }
    body {
        background-color: hsl(var(--background));
        color: hsl(var(--foreground));
    }
}
