@import "theme.css";
@import "tailwindcss";
@plugin "tailwindcss-animate";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    * {
        border-color: hsl(var(--border));
    }
    body {
        background-color: hsl(var(--background));
        color: hsl(var(--foreground));
    }
}

@layer base {
    * {
        border-color: hsl(var(--border));
    }
    body {
        background-color: hsl(var(--background));
        color: hsl(var(--foreground));
    }
}
