@layer components {
    .input-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.375rem;
        width: 100%;
    }

    .input-label {
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 1.25rem;
        color: hsl(var(--foreground));
        text-align: left;
        width: 100%;
    }

    .input {
        display: flex;
        height: 2.5rem;
        width: 100%;
        border-radius: 0.375rem;
        border: 1px solid hsl(var(--input));
        background-color: hsl(var(--background));
        padding: 0.5rem 0.75rem;
        font-size: 0.875rem;
        color: hsl(var(--foreground));
        transition: border-color 0.2s;
    }

    .input:focus {
        outline: none;
        border-color: hsl(var(--ring));
        box-shadow: 0 0 0 1px hsl(var(--ring));
    }

    .input:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }
}
